body{
    margin: 0px;
    padding: 0px;
    background: #F3F5FC;
}

.contenedor{
margin: auto;
width: 960px;
height: 650px;
padding: 5px;

}
.logo{
    width: 100%;
    float: left;
    
}
.left{
    float: left;
    width: 70%;
    height: 70%;
    border-radius: 24px;
    
}

.right{
    float: right;
    width: 30%;
    height: auto;
    border-radius: 24px;
    
}
.button-encrip{
float: left;
width: 70%;
height: auto;
border-radius: 24px;

}
.logoAlura{
    margin-top: 1%;
    float: inherit;
    margin-left: 5%;
}
.titulo{
    float: inherit;
    margin-left: 10%;
    color: #0A3871;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
#inputTexto{
    float: inherit;
    margin-left:10%;
    margin-top: 10%;
    width: 80%;
    height: 20%;
    color: #0A3871;
    font-size: 20px;
    border: none;
    outline: none;
    background: #F3F5FC;

}

#imagen-derecha{
    margin-top: 20%;
    width: 90%;
    height: auto;
    margin-left: 2%;
}
#texto{
    margin-left: 7%;
    margin-right: 5%;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
text-align: center;
color: #343A40;
}
#texto2{   
    float: left;
    margin-left: 10%;
    color: #0A3871;
    width: 80%;
    height: 60%;
    border:none;
    outline: none;
    font-size: 15px;
    resize: none;
    background: white;
}
#encriptar{
    padding: 24px;
    width: 35%;
    height: 60%;
    border-radius: 24px;
    margin-left: 13%;
    background:#0A3871 ;
}
#desencriptar{
    padding: 24px;
    width: 35%;
    height: 60%;
    border-radius: 24px;
    margin-left: 5%;
    background:#D8DFE8 ;
}
#copiar{
    margin-left: 33%;
    margin-top: 90%;
    padding: 24px;
    width: 40%;
    height: 10%;
    background: #D8DFE8;
border-radius: 24px;
display: none;
}

#aviso{
    float: inherit;
    left: 21%;
    bottom: 23.4%;
    font-family: Arial, sans-serif; 
    font-size: 80%;
    color: #495057;
    opacity: 0.8;
    
}
#avisos{
    float: inherit;
    top: 60%;
    width:  80%;
    margin-left: 10%;
}